<app-menu></app-menu>

<div class="movies-container">
  <h1>
    {{
      selectedView() === "watchlist"
        ? "Films à voir"
        : selectedView() === "cinema"
        ? "Films vus au cinéma"
        : selectedView() === "owned"
        ? "Films possédés"
        : "Films visionnés"
    }}
    ({{ filteredMoviesByYear().length }})
  </h1>

  @if(allMovies().length !== 0) {
  <div class="movies-header-top">
    <app-view-toggle
      [toggleClass]="'movies-view-toggle'"
      [options]="movieViewOptions"
      [selected]="selectedView()"
      (selectedChange)="onViewChange($any($event))"
    ></app-view-toggle>

    <div class="movies-actions">
      @if(selectedView() !== 'cinema') {
      <button
        class="btn btn-small"
        [routerLink]="getSelectMoviesRoute()"
        [queryParams]="{ watchlist: selectedView() === 'watchlist' }"
        title="Ajouter un film"
      >
        ➕
        {{
          selectedView() === "watchlist"
            ? "Ajouter des films à voir"
            : "Ajouter des films vus"
        }}
      </button>
      }
      <button
        class="btn btn-small"
        [routerLink]="getSelectMoviesRatingRoute()"
        title="Mettre à jour les notes de mes films"
      >
        ⭐ Notes
      </button>
      <button
        class="btn btn-small"
        [routerLink]="getSelectMoviesTimesWatchedRoute()"
        title="Mettre à jour le nombre de visionnages de mes films"
      >
        🎬 Visionnages
      </button>
      <button
        class="btn btn-small"
        [routerLink]="getSelectMoviesOwnedRoute()"
        title="Mettre à jour les films possédés"
      >
        ✅ Possédés
      </button>
    </div>
  </div>
  } @if(filteredMoviesByYear().length === 0 && selectedView() !== 'watchlist') {
  <div class="empty-state">
    <p class="empty-message">Aucun film à afficher pour cette sélection.</p>
    <p class="empty-subtitle">
      @if(selectedView() === 'cinema') { Sélectionnez parmi vos films vus ceux
      que vous avez vus au cinéma. } @else { Passez sur l'autre vue ou ajoutez
      de nouveaux films à votre collection. }
    </p>
    @if(selectedView() === 'cinema') {
    <button
      class="btn btn-primary"
      [routerLink]="getSelectCinemaRoute()"
      [queryParams]="{ cinema: 'true' }"
    >
      Sélectionner mes films vus au cinéma
    </button>
    } @else {
    <button class="btn btn-primary" [routerLink]="getSelectMoviesRoute()">
      Sélectionner mes films
    </button>
    }
  </div>
  }

  <div class="movies-header">
    <app-stats-display
      [stats]="stats()"
      [count]="filteredMoviesByYear().length"
      countLabel="films"
    >
    </app-stats-display>

    <div class="movies-filters">
      <!-- Dropdown de filtre d'années -->
      @if(selectedView() === 'watched' || selectedView() === 'cinema') {
      <div class="movies-filters-item">
        <p>Filtrer par année :</p>
        <select
          class="app-dropdown"
          [(ngModel)]="selectedYearFilter"
          (change)="onYearFilterChange($any($event.target).value)"
          style="margin-bottom: 8px"
        >
          <option
            *ngFor="let option of yearFilterOptions"
            [value]="option.value"
          >
            {{ option.label }}
          </option>
        </select>
      </div>
      }

      <app-sort-dropdown
        [sortOptions]="sortOptions"
        [selectedSort]="selectedSort()"
        (sortChange)="onSortChange($event)"
      >
      </app-sort-dropdown>
    </div>
  </div>

  <div class="movies-search">
    <input
      type="text"
      placeholder="Rechercher par titre, réalisateur, acteur..."
      [ngModel]="searchTerm()"
      (ngModelChange)="onSearchChange($event)"
    />
  </div>

  @if(selectedYearFilter() !== 'all' && (selectedView() === 'watched' ||
  selectedView() === 'cinema')) {
  <p>Résultats affichés: {{ sortedMovies().length }}</p>
  } @if(selectedView() === 'watchlist') {
  <div class="watchlist-actions">
    <button
      class="btn btn-primary"
      [routerLink]="getSelectWatchlistRoute()"
      [queryParams]="{ watchlist: 'true' }"
    >
      Ajouter des films à ma watchlist
    </button>
  </div>
  }

  <div class="movies">
    @for (movie of sortedMovies(); track `${movie.title}-${movie.releaseDate}`)
    {
    <div class="movie-card">
      <app-movie [movie]="movie" (movieUpdated)="refreshMovies()"></app-movie>
    </div>
    }
  </div>
</div>
