@use "../../../styles/components.scss" as components;

.platine-container {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 0.8rem;
}

.game-title {
  @include components.component-title-base;
  font-size: 1rem;
  line-height: 1.2;
  margin-bottom: 6px;
}

.big-game-time {
  font-weight: 700;
  color: #007bff;
}

.game-editor {
  @include components.component-author-base;
  font-size: 0.85rem;
  margin-bottom: 6px;
}

.game-hero {
  @include components.component-secondary-info-base;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.game-platform {
  @include components.component-secondary-info-base;
  font-size: 0.8rem;
  margin-bottom: 4px;
  color: #007bff;
  font-weight: 500;
}

.game-saga {
  @include components.component-secondary-info-base;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.game-release {
  @include components.component-date-base;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.game-last-session {
  @include components.component-date-base;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.game-time {
  @include components.component-secondary-info-base;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

.game-finished,
.game-last-session {
  @include components.component-times-base;
  font-size: 0.8rem;
  margin-bottom: 6px;
}

.game-first-session {
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: #007bff;
}

.game-in-progress {
  font-size: 0.8rem;
  margin-bottom: 6px;
  color: green;
}

.rating-text {
  font-size: 0.8rem;
}

:host {
  display: block;
  height: 100%;
}

:host-context(.collection-view) {
  @include components.entity-card-mobile-horizontal-layout;
}
