<app-menu></app-menu>

<div class="bds-container">
  <app-bds-header
    [selectedView]="selectedView()"
    [selectedSortInput]="selectedSort()"
    [searchTermInput]="searchTerm()"
    [filteredBdsCount]="filteredBds().length"
    [allBdsCount]="allBds().length"
    [allReadlistBdsCount]="allReadlistBds().length"
    [stats]="stats()"
    [viewOptions]="viewOptions"
    [sortOptions]="sortOptions()"
    (onViewChange)="onViewChange($any($event))"
    (onSearchChange)="onSearchChange($event)"
    (onSortChange)="onSortChange($event)"
  ></app-bds-header>

  <div class="bds">
    @for (bd of sortedBds(); track bd.title) {
    <div class="bd-card">
      <app-bd
        [bd]="bd"
        [quizzs]="quizzs()"
        (editRequested)="openEditBdDialog(bd)"
        (openQuizz)="openQuizzModal($event)"
      ></app-bd>
    </div>
    }
  </div>
</div>

<app-quizz-modal
  [isOpen]="isQuizzModalOpen()"
  [quizzs]="activeQuizzs()"
  (close)="closeQuizzModal()"
></app-quizz-modal>
