@use "../../../../styles/containers.scss" as containers;

.musics-header {
  h1 {
    @include containers.header-title-base;
  }

  .empty-state {
    @include containers.empty-state-base;
  }
}

.musics-header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.musics-actions {
  flex-wrap: wrap;
  display: flex;
  gap: 8px;
}

.musics-stats-bloc {
  @include containers.header-base;
}

.musics-filters {
  display: flex;
  flex-direction: column;
  gap: 12px;
  min-width: 0;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.musics-filters-item {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: #34495e;
  font-size: 1rem;
  font-weight: 500;
  min-width: 0;
}

@include containers.responsive-base {
  .musics-stats-bloc {
    flex-direction: column;
    gap: 8px;
    text-align: center;

    .musics-filters {
      width: 100%;
    }
  }

  .musics-header-top {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }
}
