<div class="comics-header">
  <h1>
    {{ comicsPageTitle() }} ({{
      selectedView() === "recommendations"
        ? recommendedComicsCount()
        : filteredComicsCount()
    }})
  </h1>

  @if(allComicsCount() !== 0 || allReadlistComicsCount() !== 0) {
  <div class="comics-header-top">
    <app-view-toggle
      [toggleClass]="'comics-view-toggle'"
      [options]="viewOptions()"
      [selected]="selectedView()"
      (selectedChange)="onViewChange.emit($any($event))"
    ></app-view-toggle>

    <div class="comics-actions" *appCanEdit>
      <button
        class="makya-btn-small"
        type="button"
        title="Configurer l'affichage des onglets"
        (click)="onOpenViewConfig.emit()"
      >
        ⚙️ Configurer ma vue comics
      </button>
      <button
        class="makya-btn-small"
        [routerLink]="getSelectComicsRoute()"
        [queryParams]="{ readlist: selectedView() === 'readlist' }"
        title="Ajouter des comics"
      >
        ➕
        {{
          selectedView() === "readlist"
            ? "Ajouter des comics à lire"
            : "Ajouter des comics"
        }}
      </button>
      <button
        class="makya-btn-small"
        [routerLink]="getSelectComicsRatingRoute()"
        title="Mettre à jour les notes de mes comics"
      >
        ⭐ Notes
      </button>
      <button
        class="makya-btn-small"
        [routerLink]="getSelectComicsTimesReadRoute()"
        title="Mettre à jour le nombre de lectures de mes comics"
      >
        📖 Lectures
      </button>
      <button
        class="makya-btn-small"
        [routerLink]="getSelectComicsOwnedRoute()"
        title="Mettre à jour les comics possédés"
      >
        ✅ Possédés
      </button>
      <button
        class="makya-btn-small"
        [class.active]="showTopFiveRank()"
        title="Voir les top 5 des comics"
        (click)="onTopFiveRankChange.emit()"
      >
        🏆 Top 5
      </button>
    </div>
  </div>
  } @if(allComicsCount() === 0 && allReadlistComicsCount() === 0) {
  <div class="empty-state">
    <p class="empty-message">Vous n'avez aucun comic dans votre collection.</p>
    <p class="empty-subtitle">
      Commencez dès maintenant à créer votre comicthèque personnelle !
    </p>
    <button class="makya-btn-ultra-big" [routerLink]="getSelectComicsRoute()">
      Sélectionner mes comics
    </button>
  </div>
  } @if (showFiltersAndSearch()) {
  <div class="comics-stats-bloc">
    <app-stats-display
      [stats]="stats()"
      [count]="filteredComicsCount()"
      countLabel="comics"
    >
    </app-stats-display>

    <app-sort-dropdown
      [sortOptions]="sortOptions()"
      [selectedSort]="selectedSort()"
      (sortChange)="onSortChange.emit($event)"
    >
    </app-sort-dropdown>
  </div>

  <div class="comics-search">
    <input
      type="text"
      placeholder="Rechercher par titre, designer, genre..."
      [ngModel]="searchTerm()"
      (ngModelChange)="onSearchChange.emit($event)"
    />
  </div>
  }
</div>
