@use '../../styles/components.scss' as components;

.serie-title {
  @include components.component-title-base;
}

.serie-director {
  @include components.component-author-base;
}

.serie-actors {
  @include components.component-secondary-info-base;
}

.serie-seasons {
  @include components.component-special-info-base;
  color: #3498db;
}

.serie-episodes {
  @include components.component-special-info-base;
  color: #e74c3c;
}

.serie-length {
  @include components.component-secondary-info-base;
}

.serie-release-date {
  @include components.component-date-base;
}

.serie-end-date {
  @include components.component-special-info-base;
  color: #27ae60;
}

.serie-times-watched {
  @include components.component-times-base;
}

.serie-genre {
  @include components.component-genre-base;
}