<app-entity-card>
  @if (canEdit() && !readOnly) {
  <button
    entity-edit
    type="button"
    class="edit-button"
    aria-label="Éditer le film"
    (click)="navigateToEdit()"
  >
    &#9998;
  </button>
  } @if (getEntityQuizzs().length > 0 && !readOnly) {
  <button
    entity-quizz
    type="button"
    class="quizz-button"
    title="Voir les quizz"
    (click)="openQuizzModal()"
  >
    🏆
  </button>
  }
  <img
    entity-cover
    [src]="movie.coverUrl || '/movies_pictures/poster.jpg'"
    [alt]="movie.title"
    class="cover-image"
    referrerpolicy="no-referrer"
  />
  <div entity-info>
    <h3 class="movie-title">{{ movie.title }}</h3>
    <p class="movie-director">Réalisé par {{ movie.director }}</p>
    @if (movie.actors && movie.actors.length > 0) {
    <p class="movie-actors">
      Avec {{ movie.actors[0].name
      }}{{ movie.actors.length > 1 ? ", " + movie.actors[1].name : "" }}
    </p>
    } @if (movie.length > 0) {
    <p class="movie-length">{{ movie.length }} min</p>
    }
    <p class="movie-release-date">{{ movie.releaseDate | date : "yyyy" }}</p>
    @if (movie.timesWatched && movie.timesWatched > 1 && !isBaseEntityView) {
    <p class="movie-times-watched">🎬 Visionné {{ movie.timesWatched }} fois</p>

    } @if (!isBaseEntityView && !recommendationView()) {
    <div class="movie-rating entity-rating">
      <span class="stars">
        <span
          *ngFor="let star of getRatingStars(movie.rating || 0)"
          [class]="'star star-' + star.type"
        ></span>
      </span>
      <span class="rating-text">{{ movie.rating }}/5</span>
    </div>
    } @if (isBaseEntityView) {
    <p class="movie-genre">{{ movie.genre }}</p>
    } @if (recommendationView()) {
    <p class="recommendation-text">{{ recommendationText() }}</p>
    } @if (isWatchList() && !isBaseEntityView) {
    <button class="makya-btn" (click)="addMovieFromWatchlist()">
      J'ai vu ce film
    </button>
    } @if (showToReWatchButton && !isBaseEntityView && selectedView !==
    'toReWatch' && selectedView !== 'watchlist') { @if(!movie.wantToSeeAgain) {
    <button class="makya-btn-small" (click)="wantToReWatch.emit(movie)">
      Je veux revoir ce film
    </button>
    } @else {
    <span class="recommendation-text">Déjà ajouté à vos films à revoir</span> }
    } @if (recommendationBadge) {
    <span class="missing-badge">{{ recommendationBadge }}</span>
    } @if (showAddToWatchlistButton && !isBaseEntityView) { @if(!isInWatchlist)
    {
    <button class="makya-btn-small" (click)="addToWatchlist.emit(movie)">
      Ajouter à ma watchlist
    </button>
    } @else {
    <span class="recommendation-text">Déjà dans votre watchlist</span> } } @if
    (selectedView === 'toReWatch' && !isBaseEntityView && movie.wantToSeeAgain)
    {
    <button class="makya-btn-small" (click)="hasReWatched.emit(movie)">
      J'ai revu ce film
    </button>
    }
  </div>
</app-entity-card>
