<div class="manwhas-header">
  <h1>
    {{ manwhasPageTitle() }} ({{
      selectedView() === "recommendations"
        ? recommendedManwhasCount()
        : filteredManwhasCount()
    }})
  </h1>

  @if(allManwhasCount() !== 0 || allReadlistManwhasCount() !== 0) {
  <div class="manwhas-header-top">
    <app-view-toggle
      [toggleClass]="'manwhas-view-toggle'"
      [options]="viewOptions()"
      [selected]="selectedView()"
      (selectedChange)="onViewChange.emit($any($event))"
    ></app-view-toggle>

    <div class="manwhas-actions" *appCanEdit>
      <button
        class="makya-btn-small"
        type="button"
        title="Configurer l'affichage des onglets"
        (click)="onOpenViewConfig.emit()"
      >
        ⚙️ Configurer ma vue manwhas
      </button>
      @if (canShowAddManwhasButton()) {
      <button
        class="makya-btn-small"
        [routerLink]="getSelectManwhasRoute()"
        [queryParams]="{ readlist: selectedView() === 'readlist' }"
        title="Ajouter des manwhas"
      >
        ➕
        {{ addManwhasButtonLabel() }}
      </button>
      }
      @if (canShowUpdateManwhasRatingButton()) {
      <button
        class="makya-btn-small"
        [routerLink]="getSelectManwhasRatingRoute()"
        title="Mettre à jour les notes de mes manwhas"
      >
        ⭐ Notes
      </button>
      }
      @if (canShowUpdateManwhasTimesReadButton()) {
      <button
        class="makya-btn-small"
        [routerLink]="getSelectManwhasTimesReadRoute()"
        title="Mettre à jour le nombre de lectures de mes manwhas"
      >
        📖 Lectures
      </button>
      }
      @if (canShowUpdateManwhasOwnedButton()) {
      <button
        class="makya-btn-small"
        [routerLink]="getSelectManwhasOwnedRoute()"
        title="Mettre à jour les manwhas possédés"
      >
        ✅ Possédés
      </button>
      }
      @if (canShowTopFiveRankButton()) {
      <button
        class="makya-btn-small"
        [class.active]="showTopFiveRank()"
        title="Voir les top 5 des manwhas"
        (click)="onTopFiveRankChange.emit()"
      >
        🏆 Top 5
      </button>
      }
    </div>
  </div>
  } @if(allManwhasCount() === 0 && allReadlistManwhasCount() === 0) {
  <div class="empty-state">
    <p class="empty-message">Vous n'avez aucun manwha dans votre collection.</p>
    <p class="empty-subtitle">
      Commencez dès maintenant à créer votre manhwathèque personnelle !
    </p>
    <button class="makya-btn-ultra-big" [routerLink]="getSelectManwhasRoute()">
      Sélectionner mes manwhas
    </button>
  </div>
  } @if (showFiltersAndSearch()) {
  <div class="manwhas-stats-bloc">
    <app-stats-display
      [stats]="stats()"
      [count]="filteredManwhasCount()"
      countLabel="manwhas"
    >
    </app-stats-display>

    <app-sort-dropdown
      [sortOptions]="sortOptions()"
      [selectedSort]="selectedSort()"
      (sortChange)="onSortChange.emit($event)"
    >
    </app-sort-dropdown>
  </div>

  <div class="entity-input-search">
    <input
      type="text"
      placeholder="Rechercher par titre, auteur, genre..."
      [ngModel]="searchTerm()"
      (ngModelChange)="onSearchChange.emit($event)"
    />
  </div>
  }
</div>
