<div class="movies-header">
  <h1>
    {{ moviesPageTitle() }} ({{
      selectedView() === "recommendations"
        ? recommendedMoviesCount()
        : filteredMoviesByYearCount()
    }})
  </h1>

  @if(allMoviesCount() !== 0) {
  <div class="movies-header-top">
    <app-view-toggle
      [toggleClass]="'movies-view-toggle'"
      [options]="visibleMovieViewOptions()"
      [selected]="selectedView()"
      (selectedChange)="onViewChange.emit($any($event))"
    ></app-view-toggle>

    <div class="movies-actions" *appCanEdit>
      <button
        class="makya-btn-small"
        type="button"
        title="Configurer l'affichage des onglets"
        (click)="onOpenViewConfig.emit()"
      >
        ⚙️ Configurer ma vue films
      </button>

      @if(selectedView() === 'watched' || selectedView() === 'watchlist' ||
      selectedView() === 'cinema') {
      <button
        class="makya-btn-small"
        [routerLink]="getSelectMoviesRoute()"
        [queryParams]="{
          watchlist: selectedView() === 'watchlist',
          cinema: selectedView() === 'cinema'
        }"
        title="Ajouter un film"
      >
        ➕
        {{
          selectedView() === "watchlist"
            ? "Ajouter des films à voir"
            : selectedView() === "cinema"
            ? "Modifier mes films vus au cinema"
            : "Ajouter des films vus"
        }}
      </button>
      } @if(selectedView() === 'watched') {

      <ng-container>
        <button
          class="makya-btn-small"
          [routerLink]="getSelectMoviesRatingRoute()"
          title="Mettre à jour les notes de mes films"
        >
          ⭐ Notes
        </button>
        <button
          class="makya-btn-small"
          [routerLink]="getSelectMoviesTimesWatchedRoute()"
          title="Mettre à jour le nombre de visionnages de mes films"
        >
          🎬 Visionnages
        </button>
        <button
          class="makya-btn-small"
          [routerLink]="getSelectMoviesOwnedRoute()"
          title="Mettre à jour les films possédés"
        >
          ✅ Possédés
        </button>
        <button
          class="makya-btn-small"
          [class.active]="showTopFiveRank()"
          title="Voir les top 5 des films"
          (click)="onTopFiveRankChange.emit()"
        >
          🏆 Top 5
        </button>
      </ng-container>
      }
    </div>
  </div>
  } @if(allMoviesCount() === 0) {
  <div class="empty-state">
    <p class="empty-message">Vous n'avez aucun film dans votre collection.</p>
    <p class="empty-subtitle">
      Commencez dès maintenant à créer votre cinéthèque personnelle !
    </p>
    <button class="makya-btn-ultra-big" [routerLink]="getSelectMoviesRoute()">
      Sélectionner mes films
    </button>
  </div>
  } @if(filteredMoviesByYearCount() === 0 && selectedView() !== 'watchlist' &&
  selectedView() !== 'toReWatch' && allMoviesCount() !== 0) {
  <div class="empty-state">
    <p class="empty-message">Aucun film à afficher pour cette sélection.</p>
    <p class="empty-subtitle">
      @if(selectedView() === 'cinema') { Sélectionnez parmi vos films vus ceux
      que vous avez vus au cinéma. } @else { Passez sur l'autre vue ou ajoutez
      de nouveaux films à votre collection. }
    </p>
    @if(selectedView() === 'cinema') {
    <button
      class="makya-btn-ultra-big"
      [routerLink]="getSelectCinemaRoute()"
      [queryParams]="{ cinema: 'true' }"
    >
      Sélectionner mes films vus au cinéma
    </button>
    } @else {
    <button class="makya-btn-ultra-big" [routerLink]="getSelectMoviesRoute()">
      Sélectionner mes films
    </button>
    }
  </div>
  } @if (showFiltersAndSearch()) {
  <div class="movies-stats-bloc">
    <ng-content select="[movies-stats-bloc-content]"></ng-content>
    <ng-content select="[movies-filters]"></ng-content>
  </div>

  <div class="entity-input-search">
    <input
      type="text"
      placeholder="Rechercher par titre, réalisateur, acteur..."
      [ngModel]="searchTerm()"
      (ngModelChange)="onSearchChange.emit($event)"
    />
  </div>
  }
</div>
