<app-menu></app-menu>

<div class="mangas-container">
  <app-mangas-header
    [selectedView]="selectedView()"
    [selectedSortInput]="selectedSort()"
    [searchTermInput]="searchTerm()"
    [filteredMangasCount]="filteredMangas().length"
    [recommendedMangasCount]="recommendedMangas().length"
    [allMangasCount]="allMangas().length"
    [allReadlistMangasCount]="allReadlistMangas().length"
    [stats]="stats()"
    [viewOptions]="viewOptions"
    [sortOptions]="sortOptions()"
    (onViewChange)="onViewChange($any($event))"
    (onSearchChange)="onSearchChange($event)"
    (onSortChange)="onSortChange($event)"
  ></app-mangas-header>

  <!-- Recommendations -->
  @if(selectedView() === 'recommendations') {
  <div class="mangas">
    @if (isLoadingRecommendations()) {
    <p>Chargement des recommandations...</p>
    } @else if (recommendedMangas().length === 0) {
    <p>Aucune recommandation disponible pour le moment.</p>
    } @else { @for (manga of recommendedMangas(); track
    `${manga.title}-${manga.author}`) {
    <div class="manga-card manga-card--recommended manga-card--missing">
      <app-manga
        [manga]="manga"
        [readOnly]="true"
        [quizzs]="quizzs()"
        [recommendationText]="getMangaRecommendationText(manga)"
        [recommendationBadge]="mangaAlreadyInUserReadlist(manga) ? 'Déjà dans votre readlist' : 'Recommandé'"
        [showAddToReadlistButton]="true"
        [isInReadlist]="mangaAlreadyInUserReadlist(manga)"
        (openQuizz)="openQuizzModal($event)"
        (addToReadlist)="addMangaToReadlist($event)"
      ></app-manga>
    </div>
    } }
  </div>
  } @else {
  <div class="mangas">
    @for (manga of sortedMangas(); track manga.title) {
    <div class="manga-card">
      <app-manga
        [manga]="manga"
        [quizzs]="quizzs()"
        [readOnly]="selectedView() === 'readlist'"
        [isReadlistView]="selectedView() === 'readlist'"
        [showToReReadButton]="true"
        [selectedView]="selectedView()"
        (editRequested)="openEditMangaDialog(manga)"
        (openQuizz)="openQuizzModal($event)"
        (readPriorityUpdated)="updateReadPriority($event)"
        (wantToReRead)="markMangaAsWantToReRead($event)"
        (haveReRead)="markMangaAsReRead($event)"
      ></app-manga>
    </div>
    }
  </div>
  }
</div>

<app-quizz-modal
  [isOpen]="isQuizzModalOpen()"
  [quizzs]="activeQuizzs()"
  (close)="closeQuizzModal()"
></app-quizz-modal>
