<app-menu></app-menu>

<div class="manwhas-container">
  <app-manwhas-header
    [selectedView]="selectedView()"
    [selectedSortInput]="selectedSort()"
    [searchTermInput]="searchTerm()"
    [filteredManwhasCount]="filteredManwhas().length"
    [allManwhasCount]="allManwhas().length"
    [allReadlistManwhasCount]="allReadlistManwhas().length"
    [stats]="stats()"
    [viewOptions]="viewOptions"
    [sortOptions]="sortOptions()"
    (onViewChange)="onViewChange($any($event))"
    (onSearchChange)="onSearchChange($event)"
    (onSortChange)="onSortChange($event)"
  ></app-manwhas-header>

  @if(selectedView() === 'readlist') {
  <div class="readlist-actions">
    <button
      class="makya-btn-ultra-big"
      [routerLink]="getSelectManwhasRoute()"
      [queryParams]="{ readlist: 'true' }"
    >
      Ajouter des manwhas à ma readlist
    </button>
  </div>
  }

  <div class="manwhas">
    @for (manwha of sortedManwhas(); track manwha.title) {
    <div class="manwha-card">
      <app-manwha
        [manwha]="manwha"
        [quizzs]="quizzs()"
        (editRequested)="openEditManwhaDialog(manwha)"
        (openQuizz)="openQuizzModal($event)"
      ></app-manwha>
    </div>
    }
  </div>
</div>

<app-quizz-modal
  [isOpen]="isQuizzModalOpen()"
  [quizzs]="activeQuizzs()"
  (close)="closeQuizzModal()"
></app-quizz-modal>
